In [2]:
import pandas as pd
from pathlib import Path

data_path = Path("data")
# if dataset_type == DatasetType.TRAIN:
#     df = pd.read_csv(data_path / "train.csv")
# elif dataset_type == DatasetType.TEST:
#     df = pd.read_csv(data_path / "test.csv")
# elif dataset_type == DatasetType.VAL:
#     df = pd.read_csv(data_path / "val.csv")

In [14]:
train_df = pd.read_csv(data_path / "train.csv")
train_df

        guid                                           sentence  label
0          0       hide new secretions from the parental units       0
1          1               contains no wit , only labored gags       0
2          2  that loves its characters and communicates som...      1
3          3  remains utterly satisfied to remain the same t...      0
4          4  on the worst revenge-of-the-nerds clichés the ...      0
...      ...                                                ...    ...
67344  67344                               a delightful comedy       1
67345  67345                   anguish , anger and frustration       0
67346  67346  at achieving the modest , crowd-pleasing goals...      1
67347  67347                                  a patient viewer       1
67348  67348  this new jangle of noise , mayhem and stupidit...      0

[67349 rows x 3 columns]

In [11]:
train_df = pd.read_csv(data_path / "train.csv")
df = train_df[['sentence', 'label']]
df = df.reset_index(drop=True)
df.index.name = 'guid'
df.to_csv(data_path / "train.csv")

In [20]:
test_df = pd.read_csv(data_path / "test.csv")
df = test_df[['sentence', 'label']]
df = df.reset_index(drop=True)
df.index.name = 'guid'
df.to_csv(data_path / "test.csv")

In [23]:
val_df = pd.read_csv(data_path / "val.csv")
df = val_df[['sentence', 'label']]
df = df.reset_index(drop=True)
df.index.name = 'guid'
df.to_csv(data_path / "val.csv")

In [24]:
train_df = pd.read_csv(data_path / "train.csv")
test_df = pd.read_csv(data_path / "test.csv")
val_df = pd.read_csv(data_path / "val.csv")

In [25]:
print(len(train_df))
train_df

67349

        guid                                           sentence  label
0          0       hide new secretions from the parental units       0
1          1               contains no wit , only labored gags       0
2          2  that loves its characters and communicates som...      1
3          3  remains utterly satisfied to remain the same t...      0
4          4  on the worst revenge-of-the-nerds clichés the ...      0
...      ...                                                ...    ...
67344  67344                               a delightful comedy       1
67345  67345                   anguish , anger and frustration       0
67346  67346  at achieving the modest , crowd-pleasing goals...      1
67347  67347                                  a patient viewer       1
67348  67348  this new jangle of noise , mayhem and stupidit...      0

[67349 rows x 3 columns]

In [26]:
print(len(test_df))
test_df

1821

      guid                                           sentence  label
0        0             uneasy mishmash of styles and genres .     -1
1        1  this film 's relationship to actual tension is...     -1
2        2  by the end of no such thing the audience , lik...     -1
3        3  director rob marshall went out gunning to make...     -1
4        4  lathan and diggs have considerable personal ch...     -1
...    ...                                                ...    ...
1816  1816  it risks seeming slow and pretentious , becaus...     -1
1817  1817  take care of my cat offers a refreshingly diff...     -1
1818  1818  davis has filled out his cast with appealing f...     -1
1819  1819  it represents better-than-average movie-making...     -1
1820  1820  dazzling and sugar-sweet , a blast of shallow ...     -1

[1821 rows x 3 columns]

In [27]:
print(len(val_df))
val_df

872

     guid                                           sentence  label
0       0    it 's a charming and often affecting journey .       1
1       1                 unflinchingly bleak and desperate       0
2       2  allows us to hope that nolan is poised to emba...      1
3       3  the acting , costumes , music , cinematography...      1
4       4                  it 's slow -- very , very slow .       0
..    ...                                                ...    ...
867   867              has all the depth of a wading pool .       0
868   868              a movie with a real anarchic flair .       1
869   869  a subject like this should inspire reaction in...      0
870   870  ... is an arthritic attempt at directing by ca...      0
871   871  looking aristocratic , luminous yet careworn i...      1

[872 rows x 3 columns]